@import "mixins";
@import "variables";

* {
    .reset;
}

// Universal Styling

// Fonts
h1 {
    font-size: @h1-size;
    font-family: @h1-font;
    color: black;
    font-weight: @weight;
}
    
    h2 {
    font-size: @h2-size ;
    font-family: @heading-font;
    color: black;
    font-weight: @weight;
}
    
    h3, h4 {
    font-size: @heading-font;
    font-family: @heading-size;
    color: black;
    font-weight: @weight;
}
    
    p {
    font-family: @para-font;
    font-size: @para-size;
    color: black;
}

// Span
    span {
    color: @span;
}

// Header Styling
header {
    background-color: #fee6cc;
    .navbar-brand {
        flex: 1;
    }
    nav{
        width: 80%;
        margin: 0 auto;
        img {
            width: 50%;
            max-width: 150px;
        }
        .nav-items {
            justify-content: flex-end;
        }
        .navbar-nav {
            align-items: center;
        }
    }
}

// Hero Image
.hero {
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .text {
        position: relative;
        z-index: 2;
        text-align: center;
    }
}

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e7e7e7;
    opacity: 75%;
    z-index: 1;
}

.home {
    background-image: url("../images/scoop_cup.jpg"); 
}

.about {
    // -----------------------------------------------------REPLACE WITH ABOUT HERO IMAGE-----------------------------------------------------
    background-image: url("../images/scoop_cup.jpg");
}

.contact {
    // -----------------------------------------------------REPLACE WITH CONTACT HERO IMAGE-----------------------------------------------------
    background-image: url("../images/scoop_cup.jpg");
}

.location {
    // -----------------------------------------------------REPLACE WITH LOCATION HERO IMAGE-----------------------------------------------------
    background-image: url("../images/scoop_cup.jpg");
}

.menu {
    // -----------------------------------------------------REPLACE WITH MENU HERO IMAGE-----------------------------------------------------
    background-image: url("../images/scoop_cup.jpg");
}

// -----------------------------------------------------HOME PAGE STYLING BELOW THIS LINE-----------------------------------------------------

// -----------------------------------------------------ABOUT PAGE STYLING BELOW THIS LINE-----------------------------------------------------

// -----------------------------------------------------LOCATION PAGE STYLING BELOW THIS LINE-----------------------------------------------------

// -----------------------------------------------------CONTACT PAGE STYLING BELOW THIS LINE-----------------------------------------------------

// -----------------------------------------------------MENU PAGE STYLING BELOW THIS LINE-----------------------------------------------------



// Sticky Footer
.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .body-content {
        flex: 1;
    }
}

// Footer Styling
footer {
    background-color: #e7e7e7;
    padding: 1% 0;
    .footer-content {
        display: flex;
    }
    figure {
        text-align: center;
        img {
            width: 100px;
        };
    }
    p {
        text-align: center;
        font-size: .75em;
    }
    .social {
        text-align: center;
        a {
            font-size: 2em;
        }
    }
}